h1 {
  color: #cadefc;
  font-size: 80px;
  margin: 15px;
  text-align: center;
  font-weight: bold;
}

form {
  text-align: center;
}

footer {
  opacity: 0.8;
  text-align: center;
  font-size: 14px;
  font-family: monospace;
  margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  opacity: 0, 8;
  max-width: 700px;
}

a {
  text-decoration-line: none;
  color: #cca8e9;
}
a:hover {
  text-decoration-line: underline;
  color: #b780e3;
}

@media (max-width: 768px) {
  h1 {
    font-size: 70px;
  }

  footer {
    font-size: 12px;
    padding: 10px;
  }
}
