.App h1 {
  color: white;
  font-size: 80px;
  margin: 15px;
  text-align: center;
}

form {
  text-align: center;
}

footer {
  opacity: 0.8;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  max-width: 960px;
  opacity: 0, 8;
}

a {
  color: #cca8e9;
}
a:hover {
  color: #b780e3;
}
