.Dictionary h1 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  opacity: 0.8;
}

.Dictionary section {
  background: white;
  padding: 5px 30px 20px 30px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 20px;
  opacity: 0.8;
}

.Dictionary input {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 100%;
  border-radius: 6px;
}

.searchBar {
  border-color: #cadefc;
  font-size: small;
  padding: 5px;
}

.searchBar:focus-visible {
  opacity: 0.6;
}
